<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../js/index.js"></script>
</head>
<body>
    <header class="bg-white shadow-md">
        <div class="max-w-7xl mx-auto flex justify-between items-center p-4">
            <a href="#" class="text-2xl font-bold text-blue-600">Mi Tienda</a>
            <nav class="hidden md:flex space-x-6">
                <a href="/" class="text-gray-600 hover:text-blue-500">Productos</a>
            </nav>
            <input type="text" id="cart-id">
            <button class="relative bg-yellow-500 text-white p-2 rounded-lg">
                🛒
            </button>
        </div>
    </header>
    <hr>
    {{{body}}}
</body>
</html>