<div>
    <label>Título: &emsp; &emsp;</label><input type="text" id="title" size="50"  /><br>
    <label>Description: </label><input type="text" id="description" size="50"  /><br>
    <label>Código: &emsp; &ensp;</label><input type="text" id="code"  />&nbsp;
    <label>Precio: </label><input type="number" id="price"  /><br>
    <label>Stock: &emsp; &emsp; </label><input type="number" id="stock"  /> &emsp;&emsp;&emsp;
    <button type="button" id="btnAddProduct">Nuevo</button>
</div>
<hr>
<div>
    <h1>Lista de productos</h1>
</div>
<div>
    <ul id="product_list">
    </ul>
</div>